.cliff-h1{
    color: #99ccff;
}
body{
    background-image: url('https://wallpaperaccess.com/full/5651999.jpg');
    background-size: cover;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #130e0e;
    text-align: left;
    padding: 8px;
    color: #f2f2f2;
}

th {
    background-color: #433535;
}
h2{
    color: #f2f2f2;
    font-weight: 900;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
