<h2>Raymund D. Macapondag</h2>

<table>
    <tr>
        <th>Field</th>
        <th>Information</th>
    </tr>
    <tr>
        <td>Address</td>
        <td>Zone 1A, San Miguel, Manolo Fortich, Bukidnon</td>
    </tr>
    <tr>
        <td>Contact Number</td>
        <td>+639262530113</td>
    </tr>
    <tr>
        <td>Email Address</td>
        <td>raymundmacapundag113@gmail.com</td>
    </tr>
    <tr>
        <td>Objective</td>
        <td>Looking for an entry-level position in an esteemed organization to achieve organizational goals.</td>
    </tr>
    <tr>
        <td>Work Experience</td>
        <td>Worked as a Computer Watcher/Computer Shop Caretaker</td>
    </tr>
    <tr>
        <td>Educational Background</td>
        <td>
            <b>Tertiary:</b> University of Science and Technology of Southern Philippines (Undergraduate, CM Recto Avenue, Lapasan, Cagayan De Oro City)<br>
            <b>Senior High:</b> Manolo Fortich National High School (Electrical Installation Maintenance NCII, Tankulan, Manolo Fortich, Bukidnon)<br>
            <b>Secondary:</b> Manolo Fortich National High School (Tankulan, Manolo Fortich, Bukidnon)<br>
            <b>Elementary:</b> San Miguel Elementary School (San Miguel, Manolo Fortich, Bukidnon)
        </td>
    </tr>
    <tr>
        <td>Skills</td>
        <td>
            <b>Mechanical/Technical Skills:</b> Electrical Installation Maintenance<br>
            <b>Communication Skills:</b> Capable of communicating with different types of people. Can easily understand job-related instructions.
        </td>
    </tr>
    <tr>
        <td>Other Personal Information</td>
        <td>
            <b>Age:</b> 21 years old<br>
            <b>Birthdate:</b> October 26, 1999<br>
            <b>Height:</b> 5 ft. and 3 in.<br>
            <b>Weight:</b> 50 kgs<br>
            <b>Civil Status:</b> Single<br>
            <b>Religion:</b> Roman Catholic<br>
            <b>Citizenship:</b> Filipino
        </td>
    </tr>
    <tr>
        <td>References</td>
        <td>Mary Grace Macapondag (Human Resource Staff – UKC Builders, Inc.)</td>
    </tr>
</table>