<link rel="stylesheet" href="./css/ray.css">
<h1>FEEL FREE TO MESSAGE ME IF YOU HAVE QUERIES. THANK YOU FOR VISITING MY PORTFOLIO!</h1>
<a href="https://web.facebook.com/profile.php?id=100085638926996" target="_blank" class="button">
    <img src="https://tse1.mm.bing.net/th?id=OIP.53b08CedN8D1qIPKNpEczAHaHt&pid=Api&P=0&h=180" alt="Facebook Logo" class="icon">
    Connect with Facebook
  </a>
  <a href="https://github.com/xraymundx" target="_blank" class="button github">
    <img src="https://tse1.mm.bing.net/th?id=OIP.NIDbXqvT7zXPNJyqRMUXHgHaHa&pid=Api&P=0&h=180" alt="GitHub Logo" class="icon">
    Connect with GitHub
  </a>